{% extends "head.html" %}

{% block head_attributes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <script src="{{ url_for('static', filename='js/auth.js')}}"></script>
{% endblock %}

{% block title_head %}
    Аутентификация
{% endblock %}

{% block body %}
<div class="fullscreen_container">
    <header class="auth_header">
        <a href="/" class="logo">
            <div class="logo_text">BOFUK</div>
            <div class="logo_by">by</div>
            <div class="logo_text">Loshki</div>
        </a> 

    </header>
    <section class="auth_container display_none" id="signup_container">

        <h1 class="h1">Зарегистрируйся, плиз</h1>

        <form method="POST" action="{{ url_for('auth_bp.register') }}" class="form_container">
            <div class="form_part">
                <label class="form_label" for="email">Университетский email</label>
                <input class="text_input" type="email" id="email" name="email"
                       placeholder="yo@mail.ru" required 

                       value="{{ request.form.email if request.form }}">
            </div>

            <div class="form_part">
                <label class="form_label" for="number_phone">Номер телефона</label>
                <input class="text_input" type="tel" id="number_phone" name="number_phone"
                       placeholder="+79991234567" pattern="^(\+7|8)\d{10}$" required
                       value="{{ request.form.number_phone if request.form }}">
            </div>

            <div class="form_part">
                <label class="form_label" for="full_name">Как к вам обращаться</label>
                <input class="text_input" placeholder="Иванов Иван Иванович" type="text" id="full_name" name="full_name"
                       required value="{{ request.form.full_name if request.form }}">
            </div>

            <div class="form_part">
                <label class="form_label" for="password">Пароль</label>
                <input class="text_input" placeholder="qwerty123?!+" type="password" id="password" name="password"
                       required value="{{ request.form.password if request.form }}">
            </div>

            <div class="form_part">
                <label class="form_label" for="password_check">Проверка пароля</label>
                <input class="text_input" placeholder="Повторение пароля" type="password" id="password_check" name="password_check">
            </div>

            <button class="submit_button">Регаемся</button>
        </form>
        <button id="signup_swap_button" class="swap_button">Уже есть аккаунт? Войти</button>

    </section>

    <section class="auth_container" id="login_container">
        <h1 class="h1">Войди, плиз</h1>
        <form method="POST"  action="{{ url_for('auth_bp.login') }}" class="form_container">
            <div class="form_part">
                <label class="form_label" for="email">Email</label>
                <input class="text_input" placeholder="yo@mail.ru" type="email" id="email" name="email">
            </div>

            <div class="form_part">
                <label class="form_label" for="password">Пароль</label>
                <input class="text_input" placeholder="*****" type="password" id="password" name="password">
            </div>
            <button class="submit_button">Входим</button>
        </form>
        <button id="login_swap_button" class="swap_button">Еще нет аккаунта? Зарегистрироваться</button>
    </section>

    <footer class="auth_footer">
        <div class="legal_copyright">© 2025 All Rights Reserved</div>
    </footer>
</div>
{% endblock %}