<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Это типа пример</title>
    <link rel="stylesheet" href="base.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <main class="main">
        <div class="auth_window">
            <input type="text" placeholder="Type your login">
            <input type="text" placeholder="Type your password">
            <button>Log In</button>
        </div>
    </main>

    <footer class="footer">
        
        <div class="legal_copyright">© 2025 All Rights Reserved</div>

    </footer>
</body>
</html>