{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block content %}
    <section class="profile_section">
        <section class="basic_info">
            <div>
                <img class="avatar" src="{{ url_for('static', filename='assets/portrait.png') }}" alt="avatar">
                <h2 class="username">{{ user.full_name }}</h2>
            </div>

            <div class="contacts">
                <div class="contact">{{ user.email }}</div>
                <div class="contact">{{ user.number }}</div>
            </div>
            <div class="action-buttons">
                <button class="action_button">
                    Сменить пароль
                </button>
                <a href="{{ url_for('auth_bp.logout') }}" class="action_button">
                    Выйти
                </a>
            </div>


            <div style="display: none;">
                <button>Изменить аватар</button>
                <button>Сменить имя</button>
                <button>Сменить номер телефона</button>
            </div>

            <div style="display: none;">
                <div>Введите новый номер телефона</div>
                <form action="mobile_number_change">
                    <input type="tel" id="mobile_number" name="mobile_number">
                    <button>Подтвердить</button>
                </form>
            </div>

            <div style="display: none;">
                <div>Как к вам обращаться</div>
                <form action="username_change">
                    <input type="text" id="username" name="username">
                    <button>Подтвердить</button>
                </form>
            </div>

            <div style="display: none;">
                <div>Введите новый адрес электронной почты</div>
                <form action="email_change">
                    <input type="email" id="email" name="email">
                    <button>Подтвердить</button>
                </form>
            </div>

            <div style="display: none;">
                <h3>Смена пароля</h3>
                <form action="email_change">
                    <div>
                        <label for="password">Пароль</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <div>
                        <label for="password">Проверка пароля</label>
                        <input type="password" id="password_check" name="password_check">
                    </div>
                    <button>Подтвердить</button>
                </form>
            </div>

        </section>

        <section class="history">
            <h2 class="history_h">История бронирований</h2>
            <ul class="history_list">
                {% for item in booking_history %}
                    <li class="history_item">
                        <h3 class="history_point">{{ item.name }}</h3>
                        <div class="history_point">{{ item.date }}</div>
                        <div class="history_point">Оценка: {{ item.vote }}</div>
                    </li>
                {% endfor %}
            </ul>

        </section>

        <button class="action_button">
            Удалить аккаунт
        </button>
    </section>
{% endblock %}