* {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    transition: .2s ease;
    color: inherit;
    z-index: inherit;
    font-size: inherit;
    text-align: inherit;
}

body {
    background: linear-gradient(107.56deg, #FFFFFF 0%, #4A40B8 100%);
}

.no-scroll {
    overflow: hidden;
}

.none {
    display: none;
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
    background-color: rgb(255, 255, 255);
    border-bottom: .1px rgb(220, 220, 220) solid;
    z-index: 1000;
    color: #0D00A0D9;
}

.logo {
    color: #0D00A0D9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    z-index: 1000;
}

.logo_by {
    margin: 0 6px;
    font-size: 14px;
    color: inherit;
}

.logo_text {
    font-size: 18px;
    font-weight: 500;
    color: inherit;
}

.header_nav {
    color: inherit;
}

.burger_button {
    display: none;
    cursor: pointer;
    padding: 4px;
}

.header_nav_item {
    margin: 0 12px;
    font-weight: 500;
    cursor: pointer;
    color: inherit;
}

.header_profile {
    margin: 0 12px;
    font-weight: 500;
    border-radius: 14px;
    padding: 6px 12px;
    color: #FFF;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(13, 0, 160, 0.85) 0%, rgba(255, 255, 255) 140%);
    opacity: .9;
}

.header_profile:hover {
    opacity: 1;
}

.main {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    padding: 16px 64px;
    border-top: .1px rgba(0, 0, 0, 0.1) solid;
    color: #0D00A0D9;
    background-color: rgba(255, 255, 255, 0.3);
}

.footer_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_logo, .footer_info {
    width: 50%;
    height: 86px;
}

.footer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
}

.footer_link {
    margin: 4px 0;
    height: fit-content;
}
.footer_link:hover {
    text-decoration: underline;
}

.legal_copyright {
    font-size: 11px;
    opacity: .4;
}

.bordered_container {
    border-radius: 8px;
    border: .5px #3B30B2 solid;
    padding: 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.font_16px {
    font-size: 16px;
}


.font_400 {
    font-weight: 400;
}

.form_part {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
}

.form_label {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 3px;
}

.text_input {
    border-radius: 6px;
    border: .1px solid;
    padding: 6px 12px;
}

.submit_button {
    border-radius: 6px;
    border: none;
    padding: 6px 12px;
    background-color: #4A40B8;
    color: #fff;
    margin: 12px auto;
    cursor: pointer;
}
.submit_button:hover {
    background-color: #493cdb;
}

.display_none {
    display: none;
}

.margin_top {
    margin-top: 36px;
}

.margin_bottom {
    margin-bottom: 36px;
}

@media screen and (max-width: 1440px) {
    .bordered_container {
        padding: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .footer_grid {
        flex-direction: column;
        justify-content: center;
    }
    .footer_logo, .footer_info {
        width: auto;
    }
    .footer_info {
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .bordered_container {
        display: grid;
        justify-items: center;
        row-gap: 16px;
    }
    .header {
        height: 52px;
        padding: 6px 32px;
        opacity: 1;
    }
    .main {
        padding-top: 52px;
    }
    .burger_button {
        display: block;
        z-index: 1000;
    }
    .header_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        color: black;
        transform: translateY(-100vh);
        transition: transform 0.4s ease;
        z-index: 100;
        padding: 80px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

    .header_nav.active {
        transform: translateY(0);
    }   
    
    .header_nav a {
        display: block;
        width: fit-content;
    }
    .header_nav_item {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: 600;
    }
    .footer {
        padding: 16px 6vw;
    }
    .footer_logo, .footer_info {
        height: auto;
        margin-bottom: 18px;
    }
    .footer_info {
        flex-direction: column;
    }
    .footer_contacts {
        margin-top: 12px;
    }
}
