.filter_header {
    width: 48%;
    border-radius: 18px;
    margin: 32px auto 0;
}

.filter_title {
    border-radius: 4px;
    padding: 4px 8px;
    border: .5px solid;
    cursor: pointer;
}

.filter_title:hover {
    background-color: rgb(245, 245, 245);
}

#filter_reset {
    background-color: red;
    opacity: .7;
}
#filter_reset:hover {
    opacity: 1;
}

.catalog {
    width: 72%;
}

.fav_margin {
    margin: 24px auto;
}
.category_catalog {
    width: 100%;
    border: .5px solid;
    padding: 36px 72px;
    border-radius: 12px;
    margin: 48px auto;
}

.category_title {
    font-size: 20px;
    margin-bottom: 24px;
}

.category_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    row-gap: 48px;
}

.category_item {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 360px;
    list-style: none;
    border-radius: 12px;
    overflow: hidden;
}

.space_container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.space_image {
    overflow: hidden;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -100;
}

.space_text_container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px 32px;
    max-height: 40%;
    margin-top: auto;
}

.space_name {
    font-size: 16px;
}

.space_characteristics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0;
}

.space_characteristics_item {
    list-style: none;
    width: 100%;
    text-align: center;
    border-left: .1px solid;
    border-right: .1px solid;

}

.space_description {
    font-weight: 300;
}

.filter_popup {
    position: absolute;
    padding: 12px 24px;
    background-color: white;
    z-index: 10;
    border: .1px solid;
    border-radius: 12px;
}

.filter_popup_item {
    list-style: none;
}

.fav_button_box {
    background-color: white;
    top: 12px;
    right: 12px;
    width: fit-content;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 9px 0 2px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
}

.fav_button_box:hover {
    background-color: gray;
}

.fav_button {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav_button_counter {
    font-size: 12px;
}

@media screen and (max-width: 1440px) {
    .catalog {
        width: 90%;
    }
    .category_list {
        column-gap: 24px;
    }
    .space_text_container {
        padding: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .category_catalog {
        padding: 36px;
    }
    .category_list {
        grid-template-columns: repeat(2, 1fr);
    }
    .space_text_container {
        padding: 18px 36px;
    }
}

@media screen and (max-width: 768px) {
    .space_text_container {
        padding: 18px;
    }
    .filter_popup {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 600px) {
    .category_catalog {
        padding: 5vw;
    }

    .category_list {
        grid-template-columns: 1fr;
        row-gap: 28px;
    }
  
}