.section {
    width: 100%;
    padding: 64px 18vw;
}

#first_section {
    background-color: aqua;
}
#second_section {
    background-color: bisque;
}
#third_section {
    background-color: blueviolet;
}
#fourth_section {
    background-color: chartreuse;
}
#fifth_section {
    background-color: coral;
}
#sixth_section {
    background-color: turquoise;
}

.width_36_auto {
    width: 36%;
    text-align: center;
    display:  block;
}

.remark {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.screaming_text {
    text-align: center;
    width: 90%;
    margin: auto;
}

.screaming_left {
    text-align: left;
    width: 64%;
}

.screaming_h1 {
    font-size: 6rem;
}

.screaming_h2 {
    font-size: 3.6rem;
}

.screaming_h3 {
    font-size: 3rem;
}

.screaming_h4 {
    font-size: 1.6rem;
}

.container_item {
    max-width: 50%;
}

.bordered_container.feature_container {
    align-items: baseline;
}

.feature_paragraph {
    max-width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.right_container {
    max-width: 48%;
    margin-left: auto;
}

.try_button {
    border-radius: 18px;
    border: .5px solid;
    padding: 8px 22px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color: black;
}

.try_button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.faq_container {
    width: 80%;
    margin: 28px auto;
    border: .5px solid;
    border-radius: 12px;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
}

.faq_question {
    margin-right: 32px;
    min-width: 20%;
    max-width: 30%;
    font-size: 16px;
    font-weight: 500;
}

.faq_answer {
    width: auto;
    font-size: 14px;
    font-weight: 400;
}

.feature {
    margin: 0 12px;
}

.big_image {
    width: auto;
    max-height: 420px;
    border-radius: 24px;
    display: block;
    margin: 18px auto;
}

.mid_image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 6px;
    display: block;
    margin: 0 auto 12px;
}

.small_image {
    width: 16%;
}

@media screen and (max-width: 1440px) {
    .screaming_text {
        width: 100%;
    }
    .screaming_left {
        width: 90%;
    }
    .screaming_h1 {
        font-size: 6rem;
    }

    .screaming_h2 {
        font-size: 5rem;
    }

    .screaming_h3 {
        font-size: 4rem;
    }

    .screaming_h4 {
        font-size: 3rem;
    }
    .container_item {
        max-width: 60%;
        margin: 0 36px;
    }
    .right_container {
        max-width: 56%;
    }
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 62px 10vw;
    }
    .screaming_h1 {
        font-size: 5.2rem;
    }
    .screaming_h2 {
        font-size: 4rem;
    }

    .screaming_h3 {
        font-size: 3.7rem;
    }
    .screaming_h4 {
        font-size: 3rem;
    }
    .faq_container {
        width: 100%;
    }
    .faq_question {
        margin-right: 24px;
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding: 62px 7vw;
    }
    .screaming_h1 {
        font-size: 4rem;
    }
    .screaming_h2 {
        font-size: 3rem;
    }
    .screaming_h3 {
        font-size: 2.7rem;
    }
    .screaming_h4 {
        font-size: 2.4rem;
    }
    .small_image {
        width: 32%;
    }
    .right_container {
        max-width: 76%;
    }
    .container_item {
        max-width: 82%;
        margin: 0 6vw;
    }
    .width_36_auto {
        width: auto;
        margin: auto 12px;
    }
}

@media screen and (max-width: 600px) {
    .section {
        padding: 62px 5vw;
    }
    .screaming_h1 {
        font-size: 3rem;
    }
    .screaming_h2 {
        font-size: 2.3rem;
    }
    .screaming_h3, .screaming_h4 {
        font-size: 2rem;
    }
    .small_image {
        width: 32%;
    }
    .right_container {
        max-width: 82%;
    }
    .feature_paragraph {
        max-width: 72%;
    }
    .faq_container {
        display: grid;
        row-gap: 16px;
        padding: 24px 10vw;
    }
    .faq_question {
        max-width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .screaming_h1 {
        font-size: 2.3rem;
    }
    .screaming_h2 {
        font-size: 1.8rem;
    }
    .screaming_h3, .screaming_h4 {
        font-size: 1.6rem;
    }
    .small_image {
        width: 48%;
    }
    .right_container,.feature_paragraph {
        max-width: 90%;
    }
}