.section {
    width: 100%;
    padding: 64px 18vw;
}

#first_section {
    background: linear-gradient(360deg, #0D009E 2.02%, #1C10A4 11.47%, #2B20AA 24.32%, #6860C3 62.89%, #A49FDB 85.92%, #C3BFE7 99.15%, #FFFFFF 111.63%);
    color: white;
    position: relative;
}
#second_section {
    background: linear-gradient(180deg, #0D009E 17.31%, #3B30B2 100%);
    color: white;
}
#third_section {
    background: linear-gradient(180deg, #3B30B2 0%, #6860C4 100%);
    color: white;
}
#fourth_section {
    background: linear-gradient(180deg, #6860C4 0%, #A49FDC 100%);
    color: white;
}
#fifth_section {
    background: linear-gradient(180deg, #A49FDB 0%, #F3F2FC 100%);
    color: #0D009E;
}
#sixth_section {
    background: linear-gradient(180deg, #F3F2FC 14.2%, #FFFFFF 95.3%);
    border-bottom: none;
    color: #0D009E;
}
.width_36_auto {
    width: 36%;
    text-align: center;
    display:  block;
}

.remark {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.screaming_text {
    text-align: center;
    width: 90%;
    margin: auto;
    font-weight: 300;
}

.screaming_left {
    text-align: left;
    width: 64%;
}

.screaming_h1 {
    font-size: 4rem;
    font-weight: 300;
}

.screaming_h2 {
    font-size: 3.2rem;
    font-weight: 300;
}

.screaming_h3 {
    font-size: 3rem;
    font-weight: 300;
}

.screaming_h4 {
    font-size: 1.6rem;
    font-weight: 300;
}

.screaming_fefu_logo {
    height: 70%;
    width: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: .3;
}

.big_margin_tb {
    margin: 164px auto;
}

.container_item {
    max-width: 50%;
}

.bordered_container.feature_container {
    align-items: baseline;
    background-color: rgba(255, 255, 255, 0.5);
}

.feature_title {
    text-align: center;
    color: #0D009E;
    font-weight: 500;
}

.feature_paragraph {
    max-width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.right_container {
    max-width: 48%;
    margin-left: auto;
}

.try_button {
    border-radius: 18px;
    border: .5px #0D009E solid;
    padding: 8px 22px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
}

.try_button:hover {
    background-color: #0D009E;
    color: white;
}

.try_h {
    text-align: center;
    margin-bottom: 18px;
    font-weight: 400;
}

.faq_container {
    width: 80%;
    margin: 28px auto;
    border: .5px solid;
    border-radius: 12px;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
}

.faq_question {
    margin-right: 32px;
    min-width: 20%;
    max-width: 30%;
    font-size: 16px;
    font-weight: 500;
}

.faq_answer {
    width: auto;
    font-size: 14px;
    font-weight: 400;
}

.feature {
    margin: 0 12px;
}

.big_image {
    width: auto;
    max-height: 420px;
    border-radius: 24px;
    display: block;
    margin: 18px auto;
}

.mid_image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 6px;
    display: block;
    margin: 0 auto 12px;
}

.small_image {
    width: 16%;
}

@media screen and (max-width: 1440px) {
    .screaming_text {
        width: 100%;
    }
    .screaming_left {
        width: 90%;
    }
    .screaming_h1 {
        font-size: 6rem;
    }

    .screaming_h2 {
        font-size: 5rem;
    }

    .screaming_h3 {
        font-size: 4rem;
    }

    .screaming_h4 {
        font-size: 3rem;
    }
    .container_item {
        max-width: 60%;
        margin: 0 36px;
    }
    .right_container {
        max-width: 56%;
    }
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 62px 10vw;
    }
    .screaming_h1 {
        font-size: 5.2rem;
    }
    .screaming_h2 {
        font-size: 4rem;
    }

    .screaming_h3 {
        font-size: 3.7rem;
    }
    .screaming_h4 {
        font-size: 3rem;
    }
    .faq_container {
        width: 100%;
    }
    .faq_question {
        margin-right: 24px;
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding: 62px 7vw;
    }
    .screaming_h1 {
        font-size: 4rem;
    }
    .screaming_h2 {
        font-size: 3rem;
    }
    .screaming_h3 {
        font-size: 2.7rem;
    }
    .screaming_h4 {
        font-size: 2.4rem;
    }
    .small_image {
        width: 32%;
    }
    .right_container {
        max-width: 76%;
    }
    .container_item {
        max-width: 82%;
        margin: 0 6vw;
    }
    .width_36_auto {
        width: auto;
        margin: auto 12px;
    }
}

@media screen and (max-width: 600px) {
    .section {
        padding: 62px 5vw;
    }
    .screaming_h1 {
        font-size: 3rem;
    }
    .screaming_h2 {
        font-size: 2.3rem;
    }
    .screaming_h3, .screaming_h4 {
        font-size: 2rem;
    }
    .small_image {
        width: 32%;
    }
    .right_container {
        max-width: 82%;
    }
    .feature_paragraph {
        max-width: 72%;
    }
    .faq_container {
        display: grid;
        row-gap: 16px;
        padding: 24px 10vw;
    }
    .faq_question {
        max-width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .screaming_h1 {
        font-size: 2.3rem;
    }
    .screaming_h2 {
        font-size: 1.8rem;
    }
    .screaming_h3, .screaming_h4 {
        font-size: 1.6rem;
    }
    .small_image {
        width: 48%;
    }
    .right_container,.feature_paragraph {
        max-width: 90%;
    }
}
