.card_section {
    width: 56%;
    padding: 24px 96px;
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.space_name {
    font-size: 24px;
    width: fit-content;
}

.c_header_button {
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 6px;
    background-color: white;
    border: .1px solid rgba(0, 0, 0, 0.2);
    margin: auto 6px;
    transition: .1s ease;
}

.c_header_button:hover {
    background-color: rgb(245, 245, 245);
    border: .1px solid rgba(0, 0, 0, 0.5);
}

.gallery_container {
    width: 100%;
}
.gallery_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2px;
    column-gap: 2px;
}
.slide.fulscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 32px;
    z-index: 1001;
    background-color: white;
}

.gallery_button {
    display: none;
}

.space_photo {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.space_descr_container {
        padding: 24px;
}

.h2 {
    font-size: 22px;
}

.space_descr_list {
    display: flex;
    flex-direction: row;
    margin: 12px 0 24px;
}

.space_descr_item {
    margin: 0 12px;
    font-weight: 400;
    list-style: none;
}

.space_likes {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.likes_number {
    font-size: 18px;
    font-weight: 400;
}

.like_button {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 24px;
    font-weight: 900;
    margin: 16px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#booking_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: .1px solid;
    border-top: .1px solid;
}

.booking_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#booking_days {
    display: flex;
    flex-direction: row;
}
.booking_day_button {
    border: none;
    background-color: beige;
    padding: 8px 12px;
    border-radius: 6px;
    margin: auto 12px;
}

.booking_days_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 6px;
    row-gap: 6px;
}

.booking_day {
    background-color: lightblue;
    border-radius: 8px;
    opacity: .7;
    padding: 9px 12px;
    text-align: center;
    cursor: pointer;
}
.booking_day:hover {
    opacity: 1;
}
.booking_day.active {
    background-color: blue;
}
.booking_day.inactive {
    cursor: not-allowed;
    background-color: grey;
    pointer-events: none
}
.booking_slots {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1px;
    row-gap: 1px;
    border-radius: 12px;
    overflow: hidden;
}
.booking_slot {
    background-color: rgb(184, 241, 170);
    opacity: .7;
    width: 64px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    color: rgb(106, 106, 106);
    cursor: pointer;
}
.booking_slot:hover {
    opacity: 1;
}
.booking_slot.end {
    background-color: green;
    opacity: 1;
    color: black;
}
.booking_slot.mid {
    background-color: lightgreen;
    opacity: 1;
    color: black;
}
.booking_slot.booked, .booking_slot.booked.mid, .booking_slot.booked.end {
    opacity: .7;
    background-color: red;
    color: black;
    cursor: not-allowed;
    pointer-events: none;
}

.info_description {
    width: 100%;
    margin: 12px 0;
    padding: 0 0 32px;
}

.info_description_p {
    width: 80%;
}

.features_grid {
    margin: 12px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feature {
    list-style: none;
    margin: 6px 0;
}

.fefumap_link {
    font-size: 18px;
    margin: 12px auto;
    border: .1px solid;
    border-radius: 12px;
    padding: 12px 24px;
    display: block;
    width: fit-content;
}

.fefumap_link:hover {
    background-color: rgb(250, 250, 250);
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}
.popup.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_container{
    background-color: white;
    padding: 128px;
    width: 32%;
    border-radius: 12px;
    border: 1px black solid;
}
.popup_text {
    font-size: 18px;
}
.popup_button {

}

@media screen and (max-width: 1440px) {
    .card_section {
        width: 72%;
        padding: 24px 48px;
    }
}

@media screen and (max-width: 1024px) {
    .space_name {
        font-size: 1.3rem;
    }
    .card_section {
        width: 100%;
        padding: 24px 8vw;
    }
    .c_header_buttons {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        margin-left: 18px;
        margin-right: 0;
    }
    .booking_days_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .space_descr_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8px;
        row-gap: 4px;
    }
    .booking_form {
        width: 72%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gallery_container {
        display: block;
        height: 560px;
    }
    .slide {
        overflow: hidden;
        opacity: 0;
        display: none;
    }
    .slide.active {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .space_gallery {
        height: 640px;
    }
    .space_photo {
        height: 560px;
        margin: auto;
    }
    .button_container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 24px;
    }
    .gallery_button {
        font-size: 24px;
        padding: 6px 12px;
        border: none;
        border-radius: 12px;
        background-color: antiquewhite;
        cursor: pointer;
        display: block;
    }
    .gallery_button:hover {
        background-color: rgb(195, 161, 116);
    }
    .booking_form {
        width: auto;
        max-width: 96%;
    }
    .booking_days_container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

#availabilityStatus {
    font-size: 14px;
    text-align: center;
    opacity: 0.9;
}
