{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}">
{% endblock %}

{% block title %}
    Каталог пространств
{% endblock %}

{% block content %}
    <header>
        <div>
            Цель
        </div>

        <div>
            Корпус
        </div>

        <div>
            Оборудование
        </div>
    </header>

    <section>
        <!-- for example -->
        <h2>Типа для танцев</h2>
        <ul>
            <li>
                <img src="" alt="">
                <h3>Пространство</h3>
                <ul>
                    <li>Корпус А</li>
                    <li>Уровень 6</li>
                    <li>A666</li>
                </ul>
                <p>Совсем чутьчуть описания прям вот капелька три строчки максимум не более</p>
            </li>
            <li>
                <img src="" alt="">
                <h3>Пространство</h3>
                <ul>
                    <li>Корпус А</li>
                    <li>Уровень 6</li>
                    <li>A666</li>
                </ul>
                <p>Совсем чутьчуть описания прям вот капелька три строчки максимум не более</p>
            </li>
            <li>
                <img src="" alt="">
                <h3>Пространство</h3>
                <ul>
                    <li>Корпус А</li>
                    <li>Уровень 6</li>
                    <li>A666</li>
                </ul>
                <p>Совсем чутьчуть описания прям вот капелька три строчки максимум не более</p>
            </li>
        </ul>

        {% for category in space_categories %}
            <h2>{{ category.name }}</h2>
            <ul>
                {% for space in category.spaces %}
                    <li>
                        <img src="{{ space.image_src }}" alt="{{ space.image_alt }}">
                        <h3>{{ space.name }}</h3>
                        <ul>
                            <li>Корпус {{ space.building}}</li>
                            <li>Уровень {{ space.level }}</li>
                            <li>{{ space.location }}</li>
                        </ul>
                        <p>{{ space.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

    </section>

    <section style="display: none;">
        <h2>{{ category.name }}</h2>
        <ul>
            {% for space in category.spaces %}
                <li>
                    <img src="{{ space.image_src }}" alt="{{ space.image_alt }}">
                    <h3>{{ space.name }}</h3>
                    <ul>
                        <li>{{ space.building}}</li>
                        <li>{{ space.level }}</li>
                        <li>{{ space.location }}</li>
                    </ul>
                    <p>{{ space.description }}</p>
                </li>
            {% endfor %}
        </ul>

    </section>


    <div style="display: none;">
        <ul>
            <li>
                <input type="radio" id="dancing" name="activity" value="dancing" />
                <label for="dancing">Танцы</label>
            </li>
            <li>
                <input type="radio" id="studying" name="activity" value="studying" />
                <label for="studying">Учеба</label>
            </li>

            <li>
                <input type="radio" id="event" name="activity" value="event" />
                <label for="event">Мероприятие</label>
            </li>
        </ul>
    </div>

    <div style="display: none;">
        <ul>
            <li>
                <input type="radio" id="A" name="building" value="A" />
                <label for="A">Корпус A</label>
            </li>
            <li>
                <input type="radio" id="B" name="building" value="B" />
                <label for="B">Корпус B</label>
            </li>

            <li>
                <input type="radio" id="C" name="building" value="C" />
                <label for="C">Корпус C</label>
            </li>
        </ul>
    </div>

    <div style="display: none;">
        <ul>
            <li>
                <input type="checkbox" id="projector" name="projector" value="projector"/>
                <label for="projector">projector</label>
            </li>
            <li>
                <input type="checkbox" id="chalkboard" name="chalkboard" value="chalkboard" />
                <label for="chalkboard">chalkboard</label>
            </li>

            <li>
                <input type="checkbox" id="huita" name="huita" value="huita" />
                <label for="huita">huita</label>
            </li>
        </ul>
    </div>

{% endblock %}