{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/favorites.css') }}">
{% endblock %}

{% block title %}
    Избранные пространства
{% endblock %}

{% block content %}
    <section class="catalog fav_margin">
        <h1 class="category_title">Избранное</h1>
        <ul class="category_list">
            {% for space in favorites.spaces %}
                <li class="category_item">
                    <a class="space_container" href="{{ url_for('space', id=space.id) }}">
                        <img class="space_image" src="{{ url_for('static', filename=space.image_src) }}" alt="{{ space.image_alt }}">
                        
                        <div class="space_text_container">
                            <h3 class="space_name">{{ space.name }}</h3>
                            <ul class="space_characteristics">
                                <li class="space_characteristics_item">Корпус {{ space.building }}</li>
                                <li class="space_characteristics_item">Уровень {{ space.level }}</li>
                            </ul>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </section>
{% endblock %}
