{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/space_card.css') }}">
    <script src="{{ url_for('static', filename='js/space_card.js')}}"></script>
{% endblock %}

{% block title %}
    {{ space_name }}
{% endblock %}

{% block content %}
<body data-logged-in="{{ 'true' if g.user else 'false' }}">
    <section class="card_section">
        <div class="card_header">
            <h1 class="space_name">{{ space.name }}</h1>
            <div class="c_header_buttons">

                <button class="fav-button {% if space.is_favorite %}active{% endif %}" data-space-id="{{ space.id }}">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="{% if space.is_favorite %}red{% else %}currentColor{% endif %}" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/>
                    </svg>
                </button>

            </div>
        </div>

        <div class="space_descr_container">
            <ul class="space_descr_list">
                <li class="space_descr_item">Корпус {{ space.building}}</li>
                <li class="space_descr_item">Уровень {{ space.level }}</li>
                <li class="space_descr_item">Находится в {{ space.location }}</li>
            </ul>
            
        </div>

        <div class="space_gallery">
            <div class="gallery_container">
                <div class="slide active">
                    <img class="space_photo" src="{{ url_for('static', filename=space.image1) }}" alt="Фото пространства 1">
                </div>
                <div class="slide">
                    <img class="space_photo" src="{{ url_for('static', filename=space.image2) }}" alt="Фото пространства 2">
                </div>
                <div class="slide">
                    <img class="space_photo" src="{{ url_for('static', filename=space.image3) }}" alt="Фото пространства 3">
                </div>
            </div>
            <div class="button_container">
                <button id="prev_btn" class="gallery_button">&#8592</button>
                <button id="next_btn" class="gallery_button">&#8594</button>
            </div>
        </div>
    </section>

    <section class="card_section" id="booking_section">
        <h2 class="h2">Забронировать</h2>

        <form id="bookingForm" class="booking_form">
            <input type="hidden" id="space_id" value="{{ space.id }}">

            <div class="form_part" id="booking_days">

                <button type="button" class="booking_day_button" id="prev_day">Prev</button>
                <div class="booking_days_container" id="booking_days_container"></div>
                <button type="button" class="booking_day_button" id="next_day">Next</button>

            </div>

            <div class="form_part">
                <div class="booking_slots" id="booking_slots"></div>
            </div>

            <div class="form_part">
                <label class="form_label" for="comment">Комментарий</label>
                <input class="text_input" type="text" id="comment" name="comment" placeholder="Необязательно">
            </div>

            <button class="submit_button" type="submit" id="booking_submit_btn">Забронировать</button>
        </form>
    </section>

    <section class="card_section">
        <div class="info_description">

            <p class="info_description_p">{{ space.description | safe }}</p>
        </div>

        {% if space.features %}
            <h2 class="h2">Оборудование в пространстве</h2>
            <ul class="features_grid">
                {% for feature in space.features %}
                    <li class="feature">{{ feature }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if space.location_description %}
            <h2 class="h2">Где это находится</h2>
            <div class="info_description">
                <p class="info_description_p">{{ space.location_description }}</p>
            </div>
        {% endif %}
        
        <a class="fefumap_link" href="{{ space.map_url }}">Пространство на карте</a>


    </section>

        <section class="popup" id="result_popup">
        <div class="popup_container">
            <h1 class="popup_text" id="result_text"></h1>
            <button class="popup_button" id="result_popup_btn"></button>
        </div>
    </section>

    <section class="popup" id="error_popup">
        <div class="popup_container">
            <h1 class="popup_text" id="error_text">Во время бронирования произошла ошибка, попробуйте еще раз</h1>
            <button class="popup_button" id="error_popup_btn"></button>
        </div>
    </section>
{% endblock %}
