* {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    width: 100vw;
    height: 80px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
    background-color: rgb(255, 255, 255);
    border-bottom: .1px rgb(220, 220, 220) solid;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
}

.logo_by {
    margin: 0 6px;
    font-size: 14px;
    color: rgb(50, 50, 50);
}

.logo_text {
    font-size: 18px;
    font-weight: 500;
}

.header_nav {
    
}

.header_nav_item {
    margin: 0 12px;
    font-weight: 500;
    color: rgb(0, 0, 0, .6);
    transition: ease .2s;
    cursor: pointer;
}

.header_nav_item:hover {
    color: rgb(0, 0, 0);
}

.main {
    width: 100vw;
    min-height: 100vh;
    padding: 80px 0 133px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px 64px;
    border-top: .1px rgb(220, 220, 220) solid;
}

.footer_grid {
    display: flex;
    flex-direction: row;
}
.footer_logo, .footer_info {
    width: 50%;
    height: 86px;
}

.footer_logo_text {

}

.footer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
}

.footer_link {
    color: blue;
    margin: 4px 0;
}

.legal_copyright {
    font-size: 11px;
    color: rgb(0, 0, 0, .4)
}