{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}
    BOFUK by Loshki
{% endblock %}

{% block content %}
    <section class="section" id="first_section">
        <div class="remark">BOFUK by LOSHKI</div>
        <h1 class="screaming_text screaming_h1 font_400">
            СЕРВИС БРОНИРОВАНИЯ
            ПРОСТРАНСТВ
            ДВФУ
        </h1>

        <div class="bordered_container margin_top">
            <h2 class="container_item">ПРОДАЮЩИЙ ТЕКСТ</h2>
            <img class="small_image" src="{{ url_for('static', filename='assets/landscape.jpg') }}" alt="">
            <p class="container_item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus suscipit velit, quis sodales felis malesuada id. Nulla facilisi. Integer dignissim auctor purus sit amet blandit. Nullam fringilla luctus risus. </p>
        </div>
    </section>

    <section class="section" id="second_section">
        <h2 class="screaming_text screaming_h2 font_400">
            МЫ ЧЕТА ДЕЛАЕМ ХОРОШО И ДАЖЕ ЛУЧШЕ
            ПОЭТОМУ МЫ НАПИСАЛИ ЭТО БОЛЬШИМИ
            БУКВАМИ НА ЭТОМ СЛАЙДЕ НАШЕГО ЛЭНДИНГА
        </h2>
        <img class="big_image margin_top" src="{{ url_for('static', filename='assets/landscape.jpg') }}" alt="">
        <p class="feature_paragraph margin_top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus suscipit velit, quis sodales felis malesuada id. Nulla facilisi. Integer dignissim auctor purus sit amet blandit. Nullam fringilla luctus risus. Morbi finibus est malesuada neque convallis mollis</p>
    </section>

    <section class="section" id="third_section">
        <h3 class="screaming_left screaming_h3 font_400">
            ЭТО МЫ ТИПА ФИШЕЧКИ ПОКАЗЫВАЕМ
            И СНОВА БОЛЬШИМИ БУКОВКАМИ
            НО УЖЕ БУКОВКИ ПОМЕНЬШЕ ТИПА
        </h3>
        <div class="bordered_container margin_top">
            <div class="feature">
                <img class="mid_image" src="{{ url_for('static', filename='assets/portrait.jpg') }}" alt="">
                <h4>Тут чутьчуть описание инфы шарите?</h4>
            </div>

            <div class="feature">
                <img class="mid_image" src="{{ url_for('static', filename='assets/portrait.jpg') }}" alt="">
                <h4>Тут чутьчуть описание инфы шарите?</h4>
            </div>

            <div class="feature">
                <img class="mid_image" src="{{ url_for('static', filename='assets/portrait.jpg') }}" alt="">
                <h4>Тут чутьчуть описание инфы шарите?</h4>
            </div>

        </div>
        <p class="feature_paragraph margin_top">Praesent pellentesque justo nec ante mollis vestibulum. Duis vitae nunc sit amet neque faucibus venenatis eu sit amet libero. Sed velit risus, pulvinar quis tristique vitae, tincidunt quis mauris.</p>
    </section>

    <section class="section" id="fourth_section">
        <div class="right_container">
            <h4 class="font_16px">Тут можно добавить текст</h4>
            <h3 class="screaming_h3 font_400">
                ТУТ У НАС ГЛАВНАЯ ФИШЕЧКА
            </h3>
            <p class="font_16px">Тут мы раскрываем фишечку но тоже типа не многословно, тоже на полшишечки так чтобы ну ниче не ясно но звучит очень круто прям по эпловски шарите??? У А А А А А</p>

        </div>
        <img class="big_image margin_top" src="{{ url_for('static', filename='assets/landscape.jpg') }}" alt="">
    </section>

    <section class="section" id="fifth_section">
        <h3 class="screaming_h4 screaming_text">ФАК ЙУ</h3>
        <ul>
            <li class="faq_container">
                <p class="faq_question">Типа вопрос</p>
                <div>
                    <p class="faq_answer">Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>

            <li class="faq_container">
                <p class="faq_question">Типа вопрос</p>
                <div>
                    <p class="faq_answer">Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>

            <li class="faq_container">
                <p class="faq_question">Типа вопрос</p>
                <div>
                    <p class="faq_answer">Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>

            <li class="faq_container">
                <p class="faq_question">Типа вопрос</p>
                <div>
                    <p class="faq_answer">Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>

            <li class="faq_container">
                <p class="faq_question">Типа вопрос</p>
                <div>
                    <p class="faq_answer">Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>

            <li class="faq_container">
                <p class="faq_question">Типа вопрос</p>
                <div>
                    <p class="faq_answer">Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>



        </ul>
    </section>

    <section class="section" id="sixth_section">
        <div class="bordered_container">
            <h3 class="screaming_h4 font_400">ТРАЙНИ</h3>
            <p class="font_16px">Ну это же круто шаришь?</p>
            <a href="/catalog" class="try_button">Попробовать</a>
        </div>
    </section>
{% endblock %}