{% extends "base.html" %}

{% block title %}
    BOFUK by Loshki
{% endblock %}

{% block content %}
    <section>
        <div>Будьте креативны вместе с</div>
        <h1>
        BOFUK by LOSHKI
        СЕРВИС ДЛЯ БРОНИРОВАНИЯ
        ПРОСТРАНСТВ И ПЛОЩАДОК 
        НА ТЕРРИТОРИИ ДАЛЬНЕВОСТОЧНОГО
        ФЕДЕРАЛЬНОГОУНИВЕРСИТЕТА
        </h1>

        <div>
            <h2></h2>
            <img src="" alt="">
            <p></p>
        </div>
    </section>

    <section>
        <h2>
            МЫ ЧЕТА ДЕЛАЕМ ХОРОШО И ДАЖЕ ЛУЧШЕ
            ПОЭТОМУ МЫ НАПИСАЛИ ЭТО БОЛЬШИМИ 
            БУКВАМИ НА ЭТОМ СЛАЙДЕ НАШЕГО ЛЭНДИНГА
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus suscipit velit, quis sodales felis malesuada id. Nulla facilisi. Integer dignissim auctor purus sit amet blandit. Nullam fringilla luctus risus. Morbi finibus est malesuada neque convallis mollis</p>
    </section>

    <section>
        <h3>
            ЭТО МЫ ТИПА ФИШЕЧКИ ПОКАЗЫВАЕМ 
            И СНОВА БОЛЬШИМИ БУКОВКАМИ
            НО УЖЕ БУКОВКИ ПОМЕНЬШЕ ТИПА
            НУ ИНФОРМАЦИЯ ТАКАЯ ПОПРОЩЕ ДА ПОПРАКТИЧНЕЕ
        </h3>
        <div>
            <div>
                <img src="" alt="">
                <h4>Тут чутьчуть описание инфы шарите?</h4>
            </div>

            <div>
                <img src="" alt="">
                <h4>Тут чутьчуть описание инфы шарите?</h4>
            </div>

            <div>
                <img src="" alt="">
                <h4>Тут чутьчуть описание инфы шарите?</h4>
            </div>

        </div>
        <p>Praesent pellentesque justo nec ante mollis vestibulum. Duis vitae nunc sit amet neque faucibus venenatis eu sit amet libero. Sed velit risus, pulvinar quis tristique vitae, tincidunt quis mauris.</p>
    </section>

    <section>
        <h4>Тут можно добавить текст</h4>
        <h3>
            ТУТ У НАС ГЛАВНАЯ ФИШЕЧКА
            И НЕКОЕ ОПИСАНИЕ ТИПА ОООЧЕНЬ КРУТО
        </h3>
        <p>Тут мы раскрываем фишечку но тоже типа не многословно, тоже на полшишечки так чтобы ну ниче не ясно но звучит очень круто прям по эпловски шарите??? У А А А А А</p>
        <img src="" alt="">
    </section>

    <section>
        <h3>ФАК ЙУ</h3>
        <ul>
            <li>
                <p>Типа вопрос</p>
                <div>
                    <p>Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>

            <li>
                <p>Типа вопрос</p>
                <div>
                    <p>Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>

            <li>
                <p>Типа вопрос</p>
                <div>
                    <p>Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>

            <li>
                <p>Типа вопрос</p>
                <div>
                    <p>Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>

            <li>
                <p>Типа вопрос</p>
                <div>
                    <p>Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>

            <li>
                <p>Типа вопрос</p>
                <div>
                    <p>Типа ответ шарите вот так жоска пишется ответ йойоойойой уа а а а а дианаааааа где дизайн как же сложна это все делать без него ты бы знала я сейчас скопирую это во все вопросы и ты просто 6 раз увидишь этот текст АЛО БИЗНЕС ДА ДА СВАГАААААААА</p>
                </div>
            </li>


        </ul>
    </section>

    <section>
        <div>
            <h3>ТРАЙНИ</h3>
            <p>Ну это же круто шаришь?</p>
            <a href="/">Попробовать</a>
        </div>
    </section>
{% endblock %}