<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Это типа пример</title>
    <link rel="stylesheet" href="base.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <a href="#" class="logo">
            <div class="logo_text">BOFUK</div>
            <div class="logo_by">by</div>
            <div class="logo_text">Loshki</div>
        </a> 

        <nav class="header_nav">
            <a class="header_nav_item">Пространства</a>
            <a class="header_nav_item">Избранное</a>
            <a class="header_nav_item">Профиль</a>
        </nav>
    </header>

    <main>
        <div class="auth_window">
            <input type="text" placeholder="Type your login">
            <input type="text" placeholder="Type your password">
            <button>Log In</button>
        </div>
    </main>

    <footer class="footer">
        <section class="footer_info">
            <a href="#" class="logo">
                <div class="logo_text">BOFUK</div>
                <div class="logo_by">by</div>
                <div class="logo_text">Loshki</div>
            </a> 

            <div class="footer_info_text">Действительно хуйнэ</div>
        </section>

        <nav class="footer_nav">
            
        </nav>
        
        <div class="legal_copyright">© 2025 All Rights Reserved</div>

    </footer>
</body>
</html>